@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@100;200;300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  font-family: 'Poppins', sans-serif;
  place-content: center;
}

.container {
  margin-inline: auto;
  margin-top: 10%;
  width: 40%;
  padding: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.display-screen {
  grid-column: 1/-1;
  color: #fff;
  text-align: end;
  padding: 2%;
  font-size: 28px;
  overflow: hidden;
  background-color: gray;
}

.btn {
  display: grid;
  place-content: center;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid gray;
  padding: 10%;
  font-size: 16px;
}

.btn-0 {
  grid-column: span 2;
}

.orange {
  background-color: orange;
}

.btn:hover {
  transform: scale(1.05);
  font-weight: 700;
  transition: 0.3s;
}
